.container {
  width: 80%;
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

@media (max-width: 60rem) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 60rem) {
  .show-mobile {
    display: none;
  }
}
