.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px black solid;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.5rem;
}

@media (max-width: 60rem) {
  .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    margin: 20px 0px;
  }
}
