.vertical-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.row {
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.calender {
  padding: 1rem;
  display: block;
  background: #ffffff;
  width: 250px;
  border: 1px solid #dadce0;
  margin: 20px auto;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;

  &-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    cursor: default;
    font-size: 1.4rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &-arrow {
    cursor: pointer;
  }
}
.calender .calender-header .month-display {
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background: white;
  color: $black-primary;
}
.calender header .month-label {
  -webkit-box-flex: 1;
  flex: 1;
}

.calender .week {
  border-top: solid 1px #dadce0;
}
.calender .week:first-child {
  border-top: none;
}
.calender .day-names {
  color: $black-primary;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}

@media (max-width: 40rem) {
  .calender .day-names,
  .month-display,
  .day {
    font-size: 1rem;
  }
}
.calender .day-names .day {
  cursor: default;
}
.calender .day-names .day:hover {
  background: inherit;
}
.calender .day {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1;
  height: 25px;
  border-left: solid 1px #dadce0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.calender .day:first-child {
  border-left: none;
}
.calender .day.today {
  background: #dceaf8;
}
.calender .day.different-month {
  color: #c0c0c0;
}
.calender .day.selected {
  background: #2875c7;
  color: #ffffff;
}

.calender .day.disabled {
  background: $secondary-color;
  color: #ffffff;
}

// .calender .day.pending {
//   background: powderblue;
//   color: #ffffff;
// }
