nav {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 16px;
  right: 0;
  cursor: pointer;
}

.side-nav {
  position: fixed;
  width: 10vw;
  background: black;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
}
